
name: json smart unit tests
on:
  push:
    branches:
      - master
      - update2024
      - upgrade
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [8, 11, 17, 21, 22, 23]
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: 'maven'
          
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
          
      - name: Unit tests accessors-smart
        run: cd accessors-smart; ./mvnw -B install; ./mvnw -B clean test

      - name: Unit tests json-smart
        run: cd json-smart; ./mvnw -B install; ./mvnw -B clean test

      - name: Unit tests json-smart-action
        run: cd json-smart-action; ./mvnw -B install; ./mvnw -B clean test
