
name: json smart unit tests
on:
  push:
    branches:
      - master
      - update2024
  pull_request:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [8, 11, 16, 17, 21]
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: 'maven'
          
      - name: Unit tests accessors-smart
        run: cd accessors-smart; mvn -B install; mvn -B clean test

      - name: Unit tests json-smart
        run: cd json-smart; mvn -B install; mvn -B clean test

      - name: Unit tests json-smart-action
        run: cd json-smart-action; mvn -B install; mvn -B clean test
