name: json smart unit tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up jdk 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: unit tests accessors-smart
        run: cd accessors-smart; mvn -B install; mvn -B clean test
          
      - name: unit tests json-smart
        run: cd ../json-smart; mvn -B clean test

      - name: unit tests json-smart-action
        run: cd ../json-smart-action; mvn -B install; mvn -B clean test
